<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="project" path-to-js-file="src/server/server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="NODE_ENV" value="production" />
    </envs>
    <method />
  </configuration>
</component>