<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="project" path-to-js-file="src/server/server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="NODE_ENV" value="production" />
    </envs>
    <profiling v8-profiler-path="" />
    <EXTENSION ID="com.jetbrains.nodejs.run.NodeJSProfilingRunConfigurationExtension">
      <profiling v8-profiler-path="" />
    </EXTENSION>
    <method />
  </configuration>
</component>